<div>
    <%= form_with model: blog_post do |form| %>
        <% if form.object.errors.any? %>
            <div>
                <% form.object.errors.full_messages.each do |message| %>
                    <div>
                        <%= message %>
                    </div>
                <% end %>
            </div>
        <% end %>
    <div>
        <div>
            <%= form.label :title %>
        </div>
        <div>
            <%= form.text_field :title, :placeholder => "cjtsai is dasabi" %>
        </div>
    </div>
    <div class="my-3">
        <div>
            <%= form.label :body %>
        </div>
        <div>
            <%= form.text_area :body, :placeholder => "bclai is good" %>
        </div>
    </div>
    <%= form.button :class => "btn btn-secondary btn-outline-dark fw-bold" %>
    <% end %>
</div>