<div class="container mt-3">
<h1 class="text-light"><%= @blog_post.title %></h1>
<div>
    <h5 class="text-light opacity-75">Last Update at <%= @blog_post.updated_at %></h5>
    <h5 class="text-light opacity-75">By <%= @blog_post.user.username %></h5>
</div>

<div>
    <h2 class="text-light mt-3"><%= @blog_post.body %></h2>
</div>

<div>
    <% if @blog_post.user == current_user %>
    <%= button_to "Edit", edit_blog_post_path(@blog_post), method: :get, :class => "btn btn-secondary btn-outline-dark fw-bold mt-1" %>
    <% end %>
    <h3 class="text-light mt-5">Comments</h3>
    <%= render partial: 'blog_posts/comment', collection: @blog_post.comments.reverse %>
</div>


</div>
<div class="fixed-bottom">
    <div class="container">
        
        <%= render partial: 'comments/form' %>
    </div>
</div>